<div id="tariff">
<h1>Всі формати фото</h1>
<table class="index-table">
  <tr>
    <td width="100%">Назва формату фото</td>
    <td colspan="2" ><%= link_to "Додати", new_format_photo_path, class: 'btn btn-warning' %></td>
  </tr>
  <% @format_photo.each do |format_photo| %>
    <tr>
      <td><%= format_photo.name %></td>
      <td><%= link_to "Редактувати", edit_format_photo_path(format_photo), class: 'btn btn-warning' %></td>
      <td><%= link_to "Видалити ", format_photo_path(format_photo), method: :delete, data: { confirm: "Ви дійсно хочете видалити формат фото?" }, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
</div>
