<h1>users</h1>
<p>find me in app/views/static_pages/users.html.erb</p>
<form >
  <button>Add</button>
</form>
<ul>
  <li>
    <%= link_to "# p/p",'#'%>
  </li>
  <li>
    <%= link_to "email",'#'%>
  </li>
  <li>
    <%= link_to "Ðdmin or user",'#'%>
  </li>
</ul>
<form>
  <button> Edit</button>
  <button> Delete</button>
</form>