<h2> Користувачі</h2>
<form >
  <button>
    Add
  </button>
</form>
<form >
  <table id="dynamic" width="650" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th># П/П</th>
      <th> email</th>
      <th>Адмін чи юзер</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <td> </td>
    </tr>gi
  </table>
</form>
<form>
  <button> Edit</button>
  <button> Delete</button>
</form>



