<%= form_for :format_foto, url: format_fotos_path do |f| %>
  <p>
    <%= f.label :name, 'Назва формату фото' %>
    <%= f.text_field(:name, { class: 'form-control' }) %>
  </p>
  <p>
    <br>
    <%= f.submit('Зберегти', { class: 'btn btn-success' }) %>
  </p>
<% end %>