
<h1>Користувачі</h1>
<form >
  <button>Add</button>
</form>
<ul>
  <li>
    <%= link_to "# p/p",'#'%>
  </li>
  <li>
    <%= link_to "email",'#'%>
  </li>
  <li>
    <%= link_to "Аdmin or user",'#'%>
  </li>
  </ul>
<form>
  <button> Edit</button>
  <button> Delete</button>
</form>